.OutwardSelectTable {
  margin-top: 0px;
}

.OutwardSelectTable_table_empty {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.OutwardSelectTable_cell_actions {
  display: flex;
  width: 70px;
  font-size: 19px;
  justify-content: center;
  align-items: center;
}

.OutwardSelectTable_cell_override {
  padding-top: 10px;
  padding-bottom: 10px;
}
